<!DOCTYPE html>
<head>
  
</head>
<body>
<h1>TP-7 Angular</h1>
<div class="container">
	<form action="">
		<div class="clientid">
			<label for="clientid" class="form-label">CLIENT ID</label>
			<input type="clientid" class="form-control" id="clientid" name="clientID" [(ngModel)]="clientID">
		</div>
		<div class="firstname">
			<label for="firstname" class="form-label">FIRSTNAME</label>
			<input type="firstname" class="form-control" id="firstname" name="firstName" [(ngModel)]="firstName">
		</div>
		<div class="lastname">
			<label for="lastname" class="form-label">LASTNAME</label>
			<input type="lastname" class="form-control" id="lastname" name="lastName" [(ngModel)]="lastName">
		</div>
		<div class="dni">
			<label for="dni" class="form-label">DNI</label>
			<input type="dni" class="form-control" id="dni" name="dni" [(ngModel)]="dni">
		</div>
		<div class="email">
			<label for="email" class="form-label">EMAIL</label>
			<input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
		</div>
		<div class="address">
			<label for="address" class="form-label">ADDRESS</label>
			<input type="address" class="form-control" id="address" name="address" [(ngModel)]="address">
		</div>
		<br>
		<input type="button" value="ADD" class="btn btn-primary" (click)="addclient()">
	</form>
</div>
</body>